// about
.about {
   padding: 110px 0 0;

   @media (max-width:1500px) {
      padding-top: calc(50px + 50*((100vw - 320px) / (1200 - 320)));
   }

   &__img {
      width: 100%;
      height: auto;
   }

   ul li {
      list-style-type: square;
   }

   &__garage {
      background-color: $footerBgColor;
      padding-top: 50px;
      padding-bottom: 120px;

      @media (max-width: 1500px) {
         padding-top: calc(30px + 20*((100vw - 320px) / (1500 - 320)));
         padding-bottom: calc(50px + 50*((100vw - 320px) / (1500 - 320)));
      }
   }


   &__list-awars {
      padding-left: 20px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 20px;

      &__item {
         max-width: 100%;
      }
   }

   .garage-list {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 30px;

      @media (max-width:$mobileSmall) {
         gap: 20px;
      }

      &__item {
         max-width: 100%;
      }
   }



   .img-width-370 {
      aspect-ratio: 370/224;
      overflow: hidden;
   }

   .img-width-584 {
      aspect-ratio: 584/400;
      overflow: hidden;
   }




}

.garage-list li,
.awars-list li {
   list-style-type: none;
}