// services
.services {
   background: url("../img/services/bg-services.jpg") center / cover no-repeat fixed;

   &__img {
      width: 100%;
      height: auto;
   }

	&__list {
		padding-left: 20px;
	}

   ul li {
      list-style-type: square;		
   }
}

